body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}
.black{
    color: black;
    font-size: 50px;
}
.orange{
    color: orange;
    font-size: 50px;

}
.stay{
    font-size: 50px;
    color: black;
}
.div1{
    border-left: 5px solid ;
    border-image:linear-gradient(orange,tomato);
    border-image-slice: 1;
    height: 175px;

    
}
#border{
    border-left: 5px solid ;
    border-image:linear-gradient(orange,tomato);
    border-image-slice: 1;
}
.First-hadder{
    display: flex;
    margin-bottom: 100px;
    padding-right: 100px;
    margin-left: 100px;
    
}
.primary{
    width: 50%;
    padding-left: 2%;
    padding-top: 70px;
}
.primary img{
    width: 70%;
    margin-left: 80px;
}
.link-button{
    text-decoration: none;
 background-image:linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
   
}
.button1{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
       padding: 10px 40px;
       border-radius: 5px;
       color: white;
       font-weight: 700;
       margin-left: 20px;

}
.my-goal{
    text-align: center;
}
#experience-item-border{
    border-image: linear-gradient(red,cyan);
    background-color:rgba(0, 128, 0, 0.385);
    border-radius: 40px;

}
#experience-item-border1{
   
    border-image: linear-gradient(red,cyan);
    background-color: rgba(137, 43, 226, 0.33);
    border-radius: 40px;
    padding-right: 10px;
}
#experience-item-border2{
    border-image: linear-gradient(red,cyan);
    background-color:rgba(0, 255, 255, 0.385);
    border-radius: 40px;
   
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 20px;
    padding-bottom: 60px;
    margin-top: 10px;
    border-radius: 40px;
    
    
    padding-top: 100px;
    }
   .foot{
       text-align: center;
       background-color:black;
    
       
       color: white;
      font-style:oblique;
      padding-bottom: 40px;
      font-family: cursive;
    
     
   }
   .mission{
       padding-top: 40px;
   }
   .violate{
       color:tomato;
       font-size: 30px;
     
   

   }
   .About-me{
       margin-bottom: 100px;
   }
   .devolop{
       font-size: 40px;
       font-weight: 700;
   }
   .image{
       margin-left:60px;
   }
   .limit{
       font-size: 40px;
       font-weight: 700;
   }
   .shape{
       background-image: url(shape-1.png);
       background-repeat: no-repeat;
       background-position: left;
    margin-left: 20px;
    background-size: 200px;
   
   
   }

   
   .global{
       font-size: 50px;
 
      margin-bottom: 50px;
      margin-left: 20px;
      
       
   }
   .First-hadder shape{
    margin-bottom: 100px;
   }
   .know{
       color: black;
       font-size: 50px;
       padding-top: 20px;
      margin-top: 40px;
      margin-left: 20px;
      
      
   }
   .people{
       padding-left: 20px;
      margin-top: 70px;
      background-image: url(shape-1.png);
       background-repeat: no-repeat;
       background-position: right;
    margin-left: 40px;
    background-size: 200px;
    padding-bottom: 300px;
    padding-right: 80px;
   }
   .pra{
       font-size: 18px;
       font-style: initial;
       font-weight: bold;
       margin-left: 20px;
    
   }
   .learn{
       font-size: 25px;
   }
   .glo{
       margin-top: -50px;


   }
   .heading{
       text-align: center;
       font-size: 50px;
       color: cadetblue;
       
   }
.form{
    text-align: center;
}
.contact-contact-form{
    width: 50%;
    padding: 50px 65px 50px 50px;
    border-radius: 20px;
    color: crimson;
    background-color: darkcyan;
    margin: 0 auto;
    box-shadow: 0 0 40px tan;
}
.input-feild input{
    width: 100%;
    height: 45px;
    border-radius: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.message-box textarea{
    width: 100%;
    padding-left: 15px;
    border-radius: 15px;
    padding-top: 15px;
    font-size: 20px;
    color: violet;
}
.link-btn{

    padding: 10px 40px;
    background-image:linear-gradient(orange,tomato);
    border-radius:20px;

}
.contact-area{
    margin-bottom: 170px;
}
.heading1{
    color: sandybrown;
    text-align: center;
    font-size: 40px;
}
.con1{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: skyblue;
    padding-top: 100px;
}
.con-pic{
    margin-left: 350px;
    margin-bottom: 100px;
}

.contact-area{
    margin-top: -300px;
}